.src__TextAreaField-sc-z0ua7p-0 {
  width: 100% !important;
  min-height: 200px !important;
}

[type="radio"] {
  opacity: 1 !important;
}

.src__TabsContainer-sc-k251l1-0 {
  height: 90% !important;
  display: grid !important;
  grid-template-rows: auto 1fr !important;
}
